= render 'shared/errors', f: @profile
= form_for @profile do |f|
  .span.offset2
    .field
      = f.label :current_location
      = f.text_field :current_city, :class => "span3", placeholder: "e.g. Montreal, Canada"
      %br


    .field
      = f.label :tagline
      = f.text_field :tagline, :class => "span5"
      %br


    .field
      = f.label :Skills_and_Experience
      = f.text_area :helping_skills, :class => "span5", :rows => "10"
      %br

    .field
      = f.label :I_can_teach
      = f.text_area :teaching_skills, :class => "span5", :rows => "10"
      %br

    

    .field
      = f.label :about_Me
      = f.text_area :about, :class => "span5", :rows => "10"
      %br

    .field
      = f.label :hometown
      = f.text_field :hometown, placeholder: "e.g. Mississauga"
      %br

    .field
      = f.label :home_country
      = f.country_select :nationality, "United States" => "United States", "Canada" => "Canada"
      %br

    .field
      = f.label :linkedin
      = f.text_field :linkedin, placeholder: "Optional: LinkedIn"
      %br
      
    .actions
      = f.submit "Save Profile", :class => "btn btn-info"
