= render 'shared/errors', f: @profile
= form_for @profile do |f|
  .span.offset3
    .field
      = f.label :current_city
      = f.text_field :current_city
      %br
    .field
      = f.label :about
      = f.text_area :about
      %br
    .field
      = f.label :skills
      = f.text_area :skills
      %br
    .field
      = f.label :hometown
      = f.text_field :hometown
      %br
    .field
      = f.label :home_country
      = f.text_field :nationality
    
    .actions
      = f.submit "Save Profile", :class => "btn btn-info"
