= render 'shared/errors', f: @profile
= form_for @profile do |f|
  .span.offset2
    .field
      = f.label :current_city
      = f.text_field :current_city, placeholder: "e.g. Toronto"
      %br

    .field
      = f.label :tagline
      = f.text_area :tagline, placeholder: "e.g. Looking to help out in Australia"
      %br

    .field
      = f.label :I_can_teach
      = f.text_area :teaching_skills, :class => "wider-input taller-input"
      %br

    .field
      = f.label :Skills_and_Experience
      = f.text_area :helping_skills, :class => "wider-input taller-input"
      %br

    .field
      = f.label :about_Me
      = f.text_area :about, :class => "wider-input taller-input"
      %br

    .field
      = f.label :hometown
      = f.text_field :hometown, placeholder: "e.g. Mississauga"
      %br

    .field
      = f.label :home_country
      = f.country_select :nationality
      %br

    .field
      = f.label :linkedin
      = f.text_area :linkedin, placeholder: "Enter your linkedin URL"
      %br
      
    .actions
      = f.submit "Save Profile", :class => "btn btn-info"
