- content_for :title do
  = "People" 

%h1 People

.listings
  - @profiles.each do |profile|
    .individual-listing
      .row-fluid
        .span12
          %h3= link_to "#{profile.first_name} #{profile.last_name}", profile_path(profile)  
          %h4  #{profile.hometown}, #{profile.nationality}

          .row-fluid
            .span5
              = link_to profile_path(profile[:id]) do
                - if profile.assets.empty?
                  = image_tag("default_listing_image.gif") 
                - else
                  = image_tag profile.find_active.file_url(:thumb)
            .span7   
              %p Skills: #{profile.helping_skills} 
              %p About: #{profile.about}



