- content_for :title do
  = "People" 

.row-fluid
  .span4
    %h1 People
  .span4.pull-right.mar-top
    = search_form_for @search, :class => "zero-margin" do |f|
      .field
        = f.text_field :user_first_name_or_user_last_name_or_tagline_or_hometown_or_nationality_or_current_city_or_helping_skills_or_teaching_skills_cont, placeholder: "Search..."

.listings
  - @profiles.each do |profile|
    .individual-listing
      .row-fluid
        .span12
          %h3 
            = link_to profile_path(profile) do
              #{profile.first_name} #{profile.last_name}  
            %span{:class=> "tagline"} #{profile.tagline}  

          %h4 Current Location: #{profile.current_city}


          .row-fluid
            .span5
              = link_to profile_path(profile) do
                - if profile.assets.empty?
                  = image_tag("default_listing_image.gif") 
                - else
                  = image_tag profile.find_active.file_url(:thumb)
            .span7   
              %h4 Ways I can help (skills and experience)
              %p  #{profile.helping_skills.truncate(250)} 
              %h4 I'm happy to teach: 
              %p  #{profile.teaching_skills.truncate(250)}
              %h4



