- content_for :title do
  = "#{@profile.first_name} #{@profile.last_name} Profile" 

.row-fluid
  .span12
    .row-fluid
      .span5
        %h2 #{@profile.first_name} #{@profile.last_name}
        %h4 Current City: #{@profile.current_city}

        %div{:id=> "profileCarousel", :class=> "carousel slide"}
          .carousel-inner.static_height
            - if @profile.pro_images.empty?
              .item.active
                = image_tag(("default_listing_image.gif"), :class => "center")
            - else
              - @profile.pro_images.each do |picture|
                - if picture == @profile.pro_images.first
                  .item.active
                    = link_to image_tag(picture.file_url(:thumb), :class => "center"), profile_pro_image_path(@profile, picture)
                - else
                  .item
                    = link_to image_tag(picture.file_url(:thumb), :class => "center"), profile_pro_image_path(@profile, picture)
          %a{:class => "carousel-control left", :href => "#profileCarousel", :"data-slide"=>"prev"} &lsaquo;
          %a{:class => "carousel-control right", :href => "#profileCarousel", :"data-slide"=>"next"} &rsaquo;
        = link_to "Manage Images", profile_assets_path(@profile), :class => "btn"
        = link_to "Edit Profile", myprofile_edit_path, :class => "btn"
        = link_to "View Profile", profile_path(@profile), :class => "btn"

        
        %h5 Hometown: #{@profile.hometown}, #{@profile.nationality}
      .lower20.span7
        %br
        %br
        %br
        %br
        %h4 Ways I can help (skills and experience):
        %p= @profile.skills
        %br
        %h4 I'm happy to teach
        %p= @profile.skills
        %br
        %h4 About me
        %p= @profile.about
        %br
