- content_for :title do
  = "#{current_user.first_name} #{current_user.last_name} Profile" 

.row-fluid
  .span12
    %h2 #{current_user.first_name} #{current_user.last_name}
    %h4 Current City: Toronto, Canada
    
    .row-fluid
      .span5
        = render "profile_image"
        = link_to "Manage Images", profile_pro_images_path(@profile)
        = link_to "Edit Profile", myprofile_edit_path
        %h5= @profile.current_city
      .span7
        %h4 Willing to help or teach for a stay by:
        %p= @profile.skills

        %h4 About me
        %p= @profile.about

        %h4 Hosting I'm Interested In
        %p As of January 2012, the website had 3.6 million members.[3] In March 2013, the website had 6 million members in 100,000 cities worldwide.