- content_for :title do
  = "#{@profile.first_name} #{@profile.last_name} Profile" 

/ are we allowed to do @profile.first_name because of delegate?

.row-fluid
  .span12
    .row-fluid
      .span5
        %h2 #{@profile.first_name} #{@profile.last_name}
        %h4 Current City: #{@profile.hometown}

        %div{:id=> "profileCarousel", :class=> "carousel slide"}
          .carousel-inner.static_height
            - if @profile.pro_images.empty?
              .item.active
                = image_tag(("default_listing_image.gif"), :class => "center")
            - else
              - @profile.pro_images.each do |picture|
                - if picture == @profile.pro_images.first
                  .item.active
                    = link_to image_tag(picture.file_url(:thumb), :class => "center"), profile_pro_image_path(@profile, picture)
                - else
                  .item
                    = link_to image_tag(picture.file_url(:thumb), :class => "center"), profile_pro_image_path(@profile, picture)
          %a{:class => "carousel-control left", :href => "#profileCarousel", :"data-slide"=>"prev"} &lsaquo;
          %a{:class => "carousel-control right", :href => "#profileCarousel", :"data-slide"=>"next"} &rsaquo;

        %h5 Hometown: #{@profile.current_city}, #{@profile.nationality}
      .lower20.span7
        .contact_button
          -if current_user
            %p Contact me at 
            .btn= link_to "Contact me", new_profile_contact_path(@profile)
          -else   
            .btn= link_to "Contact me", login_path
        %br
        %br
        %br
        %br
        %h4 Ways I can help (skills and experience):
        %p= @profile.skills
        %br
        %h4 I'm happy to teach
        %p= @profile.skills
        %br
        %h4 About me
        %p= @profile.about
        %br
        %h4 Hosting I'm Interested In
        %p As of January 2012, the website had 3.6 million members.[3] In March 2013, the website had 6 million members in 100,000 cities worldwide.