- content_for :title do
  = "Hostings" 

%h1 Hostings
%div
  .listings
    Country:
    %select{:"ng-model" => "country"}
      %option{:"value" => ""} No Value
      - @listings.pluck(:country).uniq.each do |country|
        %option{:"value" => "#{country}"} #{country}
    Filter:
    %input{:"ng-model" => "query"}
    .span12.listing{:"ng-repeat"=>"listing in listings | filter:country | filter:query"}
      %h3
        = link_to "/listings/{{listing.id}}" do
          {{listing.title}}
      %h4= "{{listing.city}}" + ", " + "{{listing.country}}"
