- content_for :title do
  = "Hostings"

.row-fluid
  .span4
    %h1 Hostings
  .span6.pull-right.mar-top
    = search_form_for @search, :class => "zero-margin" do |f|
      .field
        = f.select :country_eq, options_for_select(@countries, ""), {}, :class => "span5"
        = f.text_field :title_or_description_or_city_or_country_or_stay_length_or_in_exchange_cont, placeholder: "Search..."
        = image_submit_tag "search_icon.gif"
%br
.listings
  = render @listings

  / - @listings.each do |listing|
  /   = render 'listing', {listing: listing, name: ""}

 
= paginate @listings
= page_entries_info @listings
