- content_for :title do
  = "Hostings" 

%h1 Hostings
%br

- @listings.each do |listing|

  %h4= link_to listing.title, listing_path(listing[:id])
  %p= listing.description
  - if listing.listing_images.empty?
    = image_tag("default_listing_image.gif")
  - else
    = image_tag listing.listing_images.first.file_url
    

  / listing.listing_images.first

  




  / show the image, if nil, show default image, otherwise show the carrierwave image





