- content_for :title do
  = "Hostings" 

%h1 Hostings
%br

- @listings.each do |listing|

  %h4= link_to listing.title, listing_path(listing[:id])
  %p= listing.description
  - if listing.lis_images.empty?
    = image_tag("default_listing_image.gif")
  - else
    = image_tag listing.lis_images.first.file_url





