- content_for :title do
  = "Hostings" 

%h1 Hostings
%div
  .listings
    Country:
    %select{:"ng-model" => "country"}
      %option{:"value" => ""} No Value
      - @listings.pluck(:country).uniq.each do |country|
        %option{:"value" => "#{country}"} #{country}
    Filter:
    %input{:"ng-model" => "query"}
    .span12.listing{:"ng-repeat"=>"listing in listings | filter:country | filter:query"}
      %h3
        = link_to "/listings/{{listing.id}}" do
          {{listing.title}}
      %h4= "{{listing.city}}" + ", " + "{{listing.country}}"
      .row-fluid
        .span5.dark-background.center-index
          = link_to "/listings/{{listing.id}}", :class=>"center" do
            = image_tag("default_listing_image.gif") 
        .span2
          = link_to "/listings/{{listing.id}}" do
            = image_tag("")
          .description-box 
            %p Host: <strong> {{listing.user.first_name}} </strong>
            %p Guests: <strong> {{listing.guests}} </strong>

        .span5

          %p {{listing.description }}
          
