- content_for :title do
  = "Hostings" 

%h1 Hostings

.listings
  - @listings.each do |listing|
    .individual-listing
      .row-fluid
        .span12
          %h3= link_to listing.title, listing_path(listing[:id])  
          %h4= listing.city + ", " + listing.country

          .row-fluid
            .span5
              = link_to listing_path(listing[:id]) do
                - if listing.assets.empty?
                  = image_tag("default_listing_image.gif") 
                - else
                  = image_tag listing.assets.first.file_url
                  
            .span7   
              %p= listing.description 
              %p Guests: #{listing.guests}
  .pagination
    %ul
      %li
        %a{:href=>""} Prev
      %li
        %a{:href=>"#"} 1
      %li
        %a{:href=>"#"} 2
      %li
        %a{:href=>"#"} Next