- content_for :title do
  = "#{@listing.title}" 

=flash[:notice]


.row-fluid
  .span12
    %h2= @listing.title
    %h3= @listing.city
    .row-fluid
      .span6 
        - @listing.listing_images.each do |image|
          = image_tag image.file_url

        %p Guests: #{@listing.guests}
        %p #{@listing.stay_length}

        %h4 Reviews

        - @listing.reviews.each do |review|
          %p= review.description
    .row-fluid
      .span6
        %p= @listing.description
        %h4 Create new Review

        = form_for([@listing, @review]) do |f|
          .field
            =f.label :description
            %br
            =f.text_area :description
          .actions
            =f.submit
