- content_for :title do
  = "Hosting" 

=flash[:notice]

%h2= @listing.title

%h3= @listing.city

%p= @listing.description

= image_tag @listing.listing_images.first.file.url


%p Guests: #{@listing.guests}

%p #{@listing.stay_length}

%h4 Reviews

- @listing.reviews.each do |review|

  %p= review.description
  %br

%h4 Create new Review

= form_for([@listing, @review]) do |f|
  .field
    =f.label :description
    %br
    =f.text_area :description
  .actions
    =f.submit
