- content_for :title do
  = "#{@listing.title}" 

=flash[:notice]


.row-fluid
  .span12
    %h2= @listing.title
    %h3= @listing.city
    .row-fluid
      .span6
      - if @listing.listing_images.empty?
        = image_tag("default_listing_image.gif")
      - else 
        = image_tag @listing.listing_images.first.file_url


        %h4 Reviews
        - @listing.reviews.each do |review|
          %p= review.description
    .row-fluid
      .span6
        %p= @listing.description
        %h4 Create new Review

        = form_for([@listing, @review]) do |f|
          .field
            =f.label :description
            %br
            =f.text_area :description
          .actions
            =f.submit
