- content_for :title do
  = "#{@listing.title}" 

=flash[:notice]


.row-fluid
  .span12
    %h2= @listing.title
    %h4= @listing.city
    .row-fluid
      .span5
        = render "listing_image"
        %br
        = link_to "Manage Images", listing_lis_images_path(@listing)
        = link_to "Edit Listing", edit_listing_path(@listing)


      .span7
        %p= @listing.description
        %h3 Create new Review
        = form_for([@listing, @review]) do |f|
          .field
            =f.label :description
            %br
            =f.text_area :description
          .actions
            =f.submit
        %h4 Reviews
        - @listing.reviews.each do |review|
          %p= review.description