.field
  = f.label :first_name
  = f.text_field :first_name, placeholder: "e.g. John"
.field  
  = f.label :last_name
  = f.text_field :last_name, placeholder: "e.g.  Doe"
.field
  = f.label :email
  = f.text_field :email, placeholder: "e.g. jd@email.com"
.field
  = f.label :password
  = f.password_field :password, placeholder: "Min. 6 Character Password"
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation, placeholder: "Re-type Password"
%br