.field
  = f.label :first_name, :class => "invisible-text"
  = f.text_field :first_name, placeholder: "first name"
.field  
  = f.label :last_name, :class => "invisible-text"
  = f.text_field :last_name, placeholder: "last name"
.field
  = f.label :email, :class => "invisible-text"
  = f.text_field :email, placeholder: "email"
.field
  = f.label :password, :class => "invisible-text"
  = f.password_field :password, placeholder: "password"
.field
  = f.label :password_confirmation, :class => "invisible-text"
  = f.password_field :password_confirmation, placeholder: "confirm password"
%br