- content_for :title do
  = "Edit Profile" 

%h1 Edit your profile

= form_for(current_user) do |f|
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .actions
    = f.submit