- content_for :title do
  = "Edit Profile" 

%h1 Edit your profile
= render 'shared/errors', f: current_user

= form_for(current_user) do |f|
  = render 'fields', f: f
  .actions
    = f.submit "Save Changes"