- content_for :title do
  = "Sign Up | StayTraders" 
= render 'shared/errors', f: @user
= form_for @user do |f|
  .span.offset3
    %h1 Sign Up
    %br
    = render 'fields', f: f
    .actions= f.submit "Sign Up", :class => "btn btn-info"