%h1 Add Image
= render 'shared/errors', f: @pro_image
= form_for [@profile, @pro_image], :html => { :multipart => true} do |f|
  .span.offset3
    .field
      = f.label :file
      = f.file_field :file
    .field
      = f.label "OR Image URL"
      = f.text_field :remote_file_url
    .actions
      = f.submit "Upload Image"