!!!
%html{"ng-app" => ""}
  %head
    %title
      = set_title(yield(:title))
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}

    = csrf_meta_tags
  %body

    = render "layouts/header"

    - if flash[:alert]
      .alert
        = flash[:alert]
    - if flash[:notice]
      .notice
        = flash[:notice]
    .container{:"ng-controller" => "ListingsCtrl"}
      = yield 



    = render "layouts/footer"

